{% extends "layout.html" %}

{% block title %}
    Sources | 新闻网站
{% endblock %}

{% block main %}
    <div class="row">
        <div class="column">
            <div class="sources">
                <figure>
                    <img src="/static/peoplesdaily.jpeg" alt="ppldaily" style="width:80%">
                    <figcaption>People's Daily (人民日报)</figcaption>
                </figure>
            </div>
        </div>
        <div class="column">
            <div class="sources">
                <figure>
                    <img src="/static/nyt.jpeg" alt="nytcn" style="width:80%">
                    <figcaption>New York Times China (纽约时报中文网国际纵览)</figcaption>
                </figure>
            </div>
        </div>
    </div>
{% endblock %}
